<div class="ui info message">

<% @user_email = current_user.email %>
<% @username = @user_email.split('@')[0] %>
<h1>Hi <%= @username %>!</h1>

  <div class="header">
   Features:
  </div>
  <ul class="list">
    <li>The current user can see all posts posted by all users (from the latest one to the oldest)</li>
    <li>User can view a particular post in details</li>
    <li>User can search for posts</li>
  </ul>
</div>

<br/>


  <div class="ui item">
    <%= form_tag root_path, :method => 'get', :validate=>true do %>
      <%= text_field_tag :search, params[:search], :class => 'search-box', :required => true %>           
      <%= submit_tag "Search...", name: nil %>
    <% end %>
  </div>


<% @posts.each do |post| %>
    <div class="ui items">
    
    <div class="item">
        
        <div class="content">
            
            <div class="ui huge header"><%= link_to post.title, post %></div>
        
            <div class="extra">
                <i class="calendar times icon"></i>
                Posted <%= distance_of_time_in_words post.created_at, DateTime.now %> ago
                
                <i class=""></i>

                <i class="user icon"></i>
                Posted by: 
                <%= post.user.email %>
            </div>
            <div class="description">
                    <p><%= post.body.truncate_words(10) %></p>
            </div>
    </div>
    </div>
<% end %>
