<!DOCTYPE html>
<html>
  <head>
    <title>Rwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/navigation' %>
    <% end %>
    <%= semantic_flash %>
    <div class="ui form">
      <%= yield %>
    </div>
  </body>
</html>
